*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
src/ncmpcpp
stamp-h1
.ccls-cache/
.ccls
compile_flags.txt
.clang-format
.cache
build
build.log
compile_commands.json
